.App {
    text-align: center;
}

.Navbar {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.Links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 20%;
}

ul{
    text-decoration: none;
}